# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# exported data from local firestore instance
data/

service-account.json
.runtimeconfig.json

.env